<div class="card">
  <div class="card__header">
    <h1>Profile</h1>
  </div>
  <div class="card__content">
    <form
      class="form"
      #profileForm="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="form__group">
        <input
          class="form__input"
          type="text"
          name="fullname"
          placeholder="Full name"
          required
          [(ngModel)]="user.fullname"
        >
      </div>
      <div class="form__group">
        <app-places-suggest (addLocation)="homeLocation($event)">
          <input
            inputListener
            class="form__input"
            placeholder="Home address"
            type="text"
            required
          >
        </app-places-suggest>
      </div>
      <div class="form__group">
        <app-places-suggest (addLocation)="workLocation($event)">
          <input
            inputListener
            class="form__input"
            placeholder="Work address"
            type="text"
            required
          >
        </app-places-suggest>
      </div>
      <div class="form__group">
        <button
          class="button form__button"
          type="submit"
          [ngClass]="profileForm.valid ? 'button--accent' : 'button--disabled'"
          [disabled]="!profileForm.valid"
        >
          Save
        </button>
      </div>
    </form>
  </div>
</div>