<div class="card">
  <div class="card__header">
    <h1>Create account</h1>
  </div>
  <div class="card__content">
    <form
      class="form"
      [formGroup]="signUpForm"
      (ngSubmit)=onSubmit()
    >
      <div class="form__group">
        <input
          class="form__input"
          placeholder="Email"
          id="email" type="email"
          formControlName="email"
          required
          [ngClass]="{ 'form__input--invalid': email.invalid && email.touched }"
        >
      </div>
      <div class="form__group">
        <input
          class="form__input"
          placeholder="Password"
          id="password"
          type="password"
          formControlName="password"
          required
          [ngClass]="{ 'form__input--invalid': password.invalid && password.touched }"
        >
      </div>
      <div class="form__group">
        <input
          class="form__input"
          placeholder="Confirm password"
          id="confirmPassword"
          type="password"
          formControlName="confirmPassword"
          required
          [ngClass]="{ 'form__input--invalid': confirmPassword.invalid && confirmPassword.touched }"
        >
      </div>
      <div class="form__group">
        <button
          class="button form__button"
          type="submit"
          [disabled]="!signUpForm.valid"
          [ngClass]="signUpForm.valid ? 'button--accent' : 'button--disabled'"
        >
          Create
        </button>
      </div>
    </form>
    <div class="h-text--center h-mt--sm">Already have an account? <a class="link" routerLink="/login">Login</a></div>
  </div>
</div>