<div class="card trip">
    <div class="card__header">
        <h1 class="card__heading">New trip</h1>
    </div>
    <div class="card__content">
        <form
            #addTripForm="ngForm"
            class="form"
            (ngSubmit)="addTrip()"
        >
            <div class="form__group form__group--inline">
                <div class="form__group">
                    <label class="form__label" for="car">Car</label>
                    <div class="form__field form__field--icon form__field--icon-color-secondary form__field--icon-arrow-down">
                        <select
                            class="form__input"
                            name="car"
                            id="car"
                            required
                            [(ngModel)]="trip.car"
                        >
                            <option value="null">Select car</option>
                            <option *ngFor="let car of cars" [ngValue]="car">
                                {{car.model}}({{car.license}})
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form__group">
                    <label class="form__label" for="seatsTotal">Passengers</label>
                    <input
                        class="form__input"
                        placeholder="Free seats"
                        type="text"
                        id="seatsTotal"
                        name="seatsTotal"
                        required
                        [(ngModel)]="trip.seatsTotal"
                    >
                </div>
            </div>
            <div class="form__group">
                <app-places-suggest (addLocation)="setLocation('start', $event)">
                    <label class="form__label" for="start">Start</label>
                    <input
                        inputListener
                        id="start"
                        class="form__input"
                        placeholder="Street, City, Country"
                        type="text"
                        name="start"
                        [value]="startAddress"
                    >
                </app-places-suggest>
            </div>
            <div class="form__group">
                <app-places-suggest (addLocation)="setLocation('finish', $event)">
                    <label class="form__label" for="finish">Destination</label>
                    <input
                        inputListener
                        id="finish"
                        class="form__input"
                        placeholder="Street, City, Country"
                        type="text"
                        name="finish"
                        [value]="finishAddress"
                    >
                </app-places-suggest>
            </div>
            <div class="form__group form__group--inline">
                <div class="form__group">
                    <label class="form__label" for="hour">Hours</label>
                    <div class="form__field form__field--icon form__field--icon-color-secondary form__field--icon-arrow-down">
                        <select class="form__input" name="hour" id="hour" required [(ngModel)]="departureHour" (change)="setDepartureTime()">
                            <option *ngFor="let hour of departureHourOptions" [value]="hour" >
                                {{hour}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form__group">
                    <label class="form__label" for="minutes">Minutes</label>
                    <div class="form__field form__field--icon form__field--icon-color-secondary form__field--icon-arrow-down">
                        <select class="form__input" name="minutes" id="minutes" required [(ngModel)]="departureMinutes" (change)="setDepartureTime()">
                            <option value="0">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form__group">
                <button
                    class="button form__button"
                    type="submit"
                    [ngClass]="addTripForm.form.valid ? 'button--secondary' : 'button--disabled'"
                    [disabled]="!addTripForm.form.valid"
                >
                    Create
                </button>
            </div>
        </form>
    </div>
    <app-map class="trip__map" [trip]="trip"></app-map>
</div>