.trips {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trip {
    min-width: 320px;
    border-radius: 2rem;
}


.trip__header {
    width: 100%;
    padding-bottom: 80%;
    position: relative;
}

.trip__map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--border-color);
}

.trip__content {
    padding: 1.875rem;
}

.trip__description {
    text-transform: uppercase;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.trip__description + .trip__description {
    border-top: 1px solid var(--border-color);
    margin-top: .875rem;
    padding-top: .875rem;
}

.trip__description-label {
    color: var(--text-secondary-color);
}

.trip__subscribe {
    margin-top: 2rem;
    width: 100%;
}