:host {
    --card-width: 320px;
    --card-gutter: 2rem;
}

.trips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trip {
    width: var(--card-width);
    margin: var(--card-gutter);
    overflow: hidden;
}

.trip--active {
    width: 900px;
    margin: 0;
    padding-right: 55%;
}

.trip__header {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
}

.trip__map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--border-color);
}

.trip--active .trip__map {
    position: absolute;
    left: 45%;
    border: none;
    border-left: 1px solid var(--border-color);
}


.trip__description {
    text-transform: uppercase;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.trip__description + .trip__description {
    border-top: 1px solid var(--border-color);
    margin-top: 1rem;
    padding-top: 1rem;
}

.trip__description-label {
    color: var(--text-secondary-color);
}

.trip__button {
    margin-top: 2rem;
    width: 100%;
}

.search, .no-trips {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--card-width);
    margin: var(--card-gutter);
}

.no-trips__content {
    padding: 0;
    padding-bottom: 1.5rem;
    overflow: hidden;
}

.no-trips__image {
    width: 100%;
    transform: scale(1.1);
}

.search__button {
    width: 100%;
    margin-top: 1.875rem;
}