:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(to top,#5ee7df,#66a6ff);
}

.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFF;
    background-color: #FFF;
    box-shadow: 0 0 2rem rgba(0, 0, 255, .1);
    padding: .5rem 1rem;
}

.main-header__menu-button {
    padding: 0;
}

.main-header__menu-icon {
    width: 1.25rem;
    height: 1.25rem;
    fill: #594e78;
}

.sidebar__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, .375);
}

.sidebar__content {
    width: 300px;
    background-color: #FFF;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, .05);
    border-right: 1px solid var(--border-color);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.views {
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}