.autocomplete {
  position: relative;
}

.autocomplete__suggestions {
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  right: 0;
}

.suggestions {
  z-index: 1;
  padding: .125rem 1rem;
}

.suggestions__item {
  list-style: none;
  text-align: left;
  padding: .75rem 0;
  line-height: 1.5rem;
  cursor: pointer;
}

.suggestions__item + .suggestions__item {
  border-top: 1px solid var(--border-color);
}