<form class="form" [formGroup]="singUpForm" (ngSubmit)=onSubmit()>
  <label for="email"> Твій Email: </label>
  <input class="form__input" id="email" type="email" formControlName="email" required >
  <p class="form__input_error" *ngIf="email.invalid && email.touched">Не корректно введений email</p>

  <label for="password"> Пароль </label>
  <input class="form__input" id="password" type="password" formControlName="password" required>
  <p class="form__input_error" *ngIf="password.invalid && password.touched">Пароль має бути не меньше 6 символів</p>

  <label for="confirmPassword">Повтори пароль:</label>
  <input class="form__input" id confirmPassword type="password" formControlName="confirmPassword" required>
  <p class="form__input_error" *ngIf="confirmPassword.invalid && confirmPassword.touched">Пароль не співпадає</p>

  <button class="button" type="submit" [disabled]="!singUpForm.valid">Зберегти</button>
</form>

